<div class="container p-4">
    <div class="row">
        {{#each links}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <a href="{{url}}" target="_blank">
                            <div class="card-title text-uppercase">
                                {{titulo}}
                            </div>
                        </a>
                        <p class="m-2">{{timeago created_at}}</p>
                        <p class="m-2">{{descripcion}}</p>
                        <a href="" class="btn btn-danger">Delete Link</a>
                        <a href="" class="btn btn-secondary">Edit</a>
                    </div>
                </div>
            </div>        
        {{/each}}
    </div>
</div>